[Unit]
Description=Job that runs your user script

[Service]
ExecStart=/home/vagrant/netman/netman
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target